@using AMAPG4.Models.Catalog
@using AMAPG4.Helpers
@using System.Globalization
@model AMAPG4.ViewModels.ActivitiesViewModel
@{
    ViewBag.Title = "Ateliers";
    Layout = "_Layout";
}

    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/laFerme.css" />
    <link rel="stylesheet" href="~/css/styles.css" />

<div class="activities-body">

    <h2>Les Ateliers</h2>
    <p class="txt-intro">
        Participez à nos ateliers interactifs et découvrez des savoir-faire locaux qui mettent en avant l'éco-responsabilité
        et la durabilité. Que vous soyez intéressé par la cuisine, le jardinage, ou l'artisanat, nos ateliers vous
        offrent une expérience enrichissante. Chaque session vous permettra d'acquérir des compétences pratiques tout en
        soutenant les initiatives locales et les producteurs de votre région.
    </p>

    @if (Model.status == AMAPG4.Models.StatusType.Success)
    {
        <div></div>
        <p class="ValidationMessage"> L'activité à bien été ajouté au panier !</p>
    }
    <div class="activities-container">
    @foreach (Product product in Model.Products)
    {
        <div class="product-activity">
            <div class="photo-name">
           
                    <div class="center-cropped">
                        <img class="activity-photo" src="@Url.Content(ImageHelper.GetActivityImagePath(product.ImagePath))" />
                    </div>
            </div>
              
            <div class="activity-name">@product.ProductName</div>

            <div class="activity-description">@product.Description</div>
                <div class="activity-date"><strong>Date : </strong>@product.LimitDate.ToString("dd/MM/yyyy HH:mm")</div>
            <div class="activity-price">@product.Price.ToString("C2", new CultureInfo("fr-FR"))</div>

                <div class="add-row-activity">
                @using (Html.BeginForm())
                {
                    <input type="hidden" name="ProductName" value="@product.ProductName" />
                        <p class="quantity-txt quantity-txt-activity"> @Html.LabelFor(m => m.Quantity, "Quantité")</p>
                        <input class="styled-input" type="number" name="Quantity" value="1" min="1" max="@product.Stock" step="1">
                        @if (Model.IsAuthenticated)
                        {
                            <input class="activity-add-to-basket" type="submit" value="Réserver une place" />
                        }
                        else
                        {
                            <a href="@Url.Action("Index", "Login")" class="btn activity-add-to-baske">Réserver une place</a>
                        }
                    }
                </div>
              
        </div>
    }
</div>
</div>
