@using AMAPG4.Models.Catalog
@using System.Globalization
@model AMAPG4.ViewModels.ActivitiesViewModel
@{
    ViewBag.Title = "Ateliers";
    Layout = "_Layout";
}

    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/laFerme.css" />


<div class="activities-body">

    <h2>Les Ateliers</h2>
    <p class="txt-intro">
        Participez à nos ateliers interactifs et découvrez des savoir-faire locaux qui mettent en avant l'éco-responsabilité
        et la durabilité. Que vous soyez intéressé par la cuisine, le jardinage, ou l'artisanat, nos ateliers vous
        offrent une expérience enrichissante. Chaque session vous permettra d'acquérir des compétences pratiques tout en
        soutenant les initiatives locales et les producteurs de votre région.
    </p>


    <div class="activities-container">
        @if(Model.status == AMAPG4.Models.StatusType.Success)
        {
            <p> L'activité à bien été ajouté au panier !</p>
        }
        @foreach (Product product in Model.Products)
    {
        <div class="product-activity">

            <div class="photo-name">
            <img class="activity-photo" src="~/images/LaFermeImages/activity.png" />
            <div class="activity-name">@product.ProductName</div>
            </div>

            <div class="activity-description">@product.Description</div>
            <div class="activity-date">@product.LimitDate</div>
            <div class="activity-price">@product.Price.ToString("C2", new CultureInfo("fr-FR"))</div>

                <div class="add-row-activity">
                @using (Html.BeginForm())
                {
                    <input type="hidden" name="ProductName" value="@product.ProductName" />
                        <p class="quantity-txt quantity-txt-activity"> @Html.LabelFor(m => m.Quantity, "Quantité")</p>
                        <input class="styled-input" type="number" name="Quantity" value="1" min="1" max="@product.Stock" step="1">

                        <input class="activity-add-to-basket" type="submit" value="Ajouter Au Panier" />
                }
                </div>
              
        </div>
    }
</div>
</div>
