@using AMAPG4.Models.Catalog
@using System.Globalization
@model AMAPG4.ViewModels.ProducerViewModel
@{
    ViewBag.Title = "Mon Compte";
    Layout = "_Layout";
}

<title>Mes Produits</title>
<link rel="stylesheet" href="~/css/global.css" />
<link rel="stylesheet" href="~/css/styles.css" />
<link rel="stylesheet" href="~/css/laFerme.css" />
<div>
    <div class="margin-top-table-product">
<table class="table-product">
    
    <thead>
    <tr>
        <th>Nom du produit</th>
      
        <th>Stock</th>

        <th>Prix</th>
        <th>Date Limite</th>
        <th> Vente les 30 derniers jours</th>
                <th> Vente Total</th>
    </tr>
    </thead>
    <tbody>
    @foreach (Product product in Model.Products)
    {
        
        <tr>
            <td>@product.ProductName</td>
     
            <td>@product.Stock</td>

            <td>@product.Price</td>
            <td>@product.LimitDate.ToShortDateString()</td>
                    <td>@product.LastMonthSale</td>
                    <td>@product.TotalSales</td>
        </tr>
    }
        </tbody>
</table>
    </div>
    <div class="add-row-product-view ">
    <div>@Html.ActionLink("Retour à l'accueil", "Index", "Home", null, new { @class = "return-catalog" })</div>
    <div>@Html.ActionLink("Retour à mon compte", "Index", "Account", null, new { @class = "return-catalog" })</div>
    </div>
</div>

