@using AMAPG4.Models.User
@using AMAPG4.Models.Catalog
@model AMAPG4.ViewModels.ProducerViewModel

@{
	ViewBag.Title = "Détails des producteurs";
	Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/laFerme.css" />
<link rel="stylesheet" href="~/css/styles.css" />
<div class="product-detail-body">
	<div class="product-container">
		<img class="product-photo" src="@Model.Producers.ImagePath" />
		<div class="product-details">
			<h2>@Model.Account.Name</h2>

			<p class="product-view-description">@Model.Producers.Description</p>
			@foreach (Product product in Model.Products)
			{
				<p>@Html.ActionLink(product.ProductName, "ProductView", "Catalog", new { id = product.Id })</p>

			}
		</div>

	</div>
	<div class="return-producers">@Html.ActionLink("Retour à la Liste des Producteurs", "Index", "Producer", null, new { @class = "return-catalog" })</div>
</div>