@model AMAPG4.ViewModels.ProductDetailViewModel

@{
	ViewBag.Title = @Model.ProductName;
	Layout = "_layout";
}

<div class="product-detail-body">
<div class="product-container">
	<img class="product-photo" src="~/images//ProductImages/cheese.png" />

	<div class="product-details">
		<h2>@Model.ProductName</h2>
		<p><strong>Prix :</strong> @Model.Price.ToString("C")</p>
		<p><strong>Description :</strong> @Model.Description</p>
		<p><strong>Disponibilité :</strong> @(Model.IsAvailable ? "En Stock" : "Hors Stock")</p>
	</div>

</div>
</div>
<div class="nav-element">@Html.ActionLink("Retour au catalogue", "Index", "Catalog", new { @class = "return-catalog" })</div>

