@using AMAPG4.Models.Catalog
@using AMAPG4.Models.User
@model AMAPG4.Models.Catalog.Product

@{
    ViewBag.Title = "Créer un Produit";
    Layout = "_BackOfficeLayout";
}

<div class="user-profile-form-container">
    <div class="user-profile">
        <h1 class="bo-entity">Créer un nouveau produit</h1>

        @using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="user-info">
                <label>Nom du produit :</label>
                @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control" })
            </div>

            <div class="user-info">
                <label>Description :</label>
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
            </div>

            <div class="user-info">
                <label>Prix :</label>
                @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
            </div>

            <div class="user-info">
                <label>Quantité en stock :</label>
                @Html.TextBoxFor(model => model.Stock, new { @class = "form-control" })
            </div>

            <div class="user-info">
                <label>Date limite :</label>
                @Html.TextBoxFor(model => model.LimitDate, new { @class = "form-control", type = "date" })
            </div>

            <div class="user-info">
                <label>Type de produit :</label>
                @Html.DropDownListFor(m => m.ProductType, new SelectList(Enum.GetValues(typeof(ProductType)).Cast<ProductType>().Select(e => new SelectListItem { Value = ((int)e).ToString(), Text = e.ToString() }), "Value", "Text"), "Sélectionnez un type", new { @class = "input-field" })
            </div>

            <div class="user-info">
                <label>Producteur :</label>
                @Html.DropDownListFor(model => model.Producer.Id, new SelectList(ViewBag.Producers, "Id", "Account.Name"), "Sélectionnez un producteur", new { @class = "form-control" })
            </div>

            <div class="user-info">
                <label>Image du produit :</label>
                <input type="file" name="ProductImage" class="form-control" />
            </div>

            <div class="user-actions">
                <button type="submit" class="btn-validate">Valider</button>
            </div>
        }

    </div>
</div>
