@using AMAPG4.Models.ContactForm
@model AMAPG4.ViewModels.ContactViewModel
@{
    ViewBag.Title = "Gestion des Demandes de Contact";
    Layout = "_BackOfficeLayout";
}

<div class="back-office-entity-category">

    <!-- Tableau pour les demandes à traiter -->
    <div class="category-block">
        <div class="section-header">
            <h2 class="section-title">Demandes de Contact à Traiter</h2>
        </div>

        <div class="table-container">
            <table class="category-table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                        <th>Message</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Contact contact in Model.Contacts)
                    {
                        <tr>
                            <td>@contact.Name</td>
                            <td>@contact.FirstName</td>
                            <td>@contact.Email</td>
                            <td>@contact.PhoneNumber</td>
                            <td>@contact.Message</td>
                            <td class="td-btn-actions">
                                @if (contact.Status == ContactStatus.Pending){
                                    <form method="post" action="@Url.Action("ChangeStatus", "Contact", new { id = contact.Id })" style="display:inline;">
                                        <button type="submit" class="btn-action btn-update">Traité</button>
                                    </form>
                                }                               
                                <form method="post" action="@Url.Action("Delete", "Contact", new { id = contact.Id })" style="display:inline;">
                                    <button type="submit" class="btn-action btn-delete">Supprimer</button>
                                </form>
                                <a href="@Url.Action("Read", "Contact", new { id = contact.Id })" class="btn-action btn-update">Lire</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
       </div>

        <div class="link-under_table">
            <a href="@Url.Action("Contacts", "Dashboard")">Toutes les demandes</a>
            @if (Model.Status == ContactStatus.Pending) {
                <a href="@Url.Action("DoneContacts", "Contact")">Demandes traitées</a>
            } 
            else if (Model.Status == ContactStatus.Done) {
                <a href="@Url.Action("PendingContacts", "Contact")">Demande à traiter</a>
            }
        </div>

    </div>
</div>