@model AMAPG4.Models.ContactForm.Contact
@{
    ViewBag.Title = "Formulaire de Contact";
    Layout = "_Layout";
}
@section Styles {

    
    <link rel="stylesheet" href="~/css/forms.css" />
    
}


<div class="container">
    <h2>Contactez-nous !</h2>
    <div class="form-container">
     

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }

        @using (Html.BeginForm("Create", "Contact", FormMethod.Post, new { @class = "contact-form" }))
        {
            <fieldset class="fieldset-style">
                <legend>Formulaire de contact</legend>
            <div class="contact-form-group">
                @Html.Label("Vous êtes :")
                <div class="contact-form-radio-group">
                    @foreach (var item in Enum.GetValues(typeof(AMAPG4.Models.ContactForm.UserType)))
                    {
                        <label class="radio-inline">
                            @Html.RadioButtonFor(model => model.userType, item) @item
                        </label>
                    }
                </div>
                @Html.ValidationMessageFor(model => model.userType, "", new { @class = "text-danger" })
            </div>

            <div class="contact-form-group">
                @Html.LabelFor(model => model.Name, "Nom")
                @Html.TextBoxFor(model => model.Name, new { @class = "proposition input-field", placeholder = "Nom" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="contact-form-group">
                @Html.LabelFor(model => model.FirstName, "Prénom")
                @Html.TextBoxFor(model => model.FirstName, new { @class = "proposition input-field", placeholder = "Prénom" })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>

            <div class="contact-form-group">
                @Html.LabelFor(model => model.Email, "Email")
                @Html.TextBoxFor(model => model.Email, new { @class = "proposition input-field", placeholder = "nom@example.fr" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>

            <div class="contact-form-group">
                @Html.LabelFor(model => model.PhoneNumber, "Téléphone")
                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "proposition input-field", placeholder = "0707070707" })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>

            <div class="contact-form-group">
                @Html.LabelFor(model => model.Message, "Message")
                @Html.TextAreaFor(model => model.Message, new { @class = "form-control contact-textarea-message", placeholder = "Écrivez votre message" , rows = 4 })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>

            <input type="submit" value="Envoyer" />

            </fieldset>
        }
        


    <div class="txt-contact">
        <h2>L'adresse</h2>
        <div class="adresse-contenu">
            <p>
                Maison des associations<br>
                67 rue Saint François de Sales<br>
                73000 Chambéry
            </p>
            <p><em>Nous ne sommes pas présent dans les locaux tous les jours bla bla</em></p>
            <p><strong>Tél :</strong> 04 79 00 12 68</p>
          
            <div class="social-icons">
                <a href="https://facebook.com"><img src="~/images/facebook-icon.png" alt="Facebook"></a>
                <a href="https://instagram.com"><img src="~/images/instagram-icon.png" alt="Instagram"></a>
            </div>
        </div>
    </div>
</div>



