@model AMAPG4.Models.User.CE

@{
    ViewBag.Title = "Modifier le CE n° " + Model.Id;
    Layout = "_BackOfficeLayout";
}

<div class="user-profile-form-container">
    <div class="user-profile">
        <div class="form-header">
            <h1 class="bo-entity">Modifier le CE n° @Model.Id</h1>
            <a href="@Url.Action("Read", "CE", new { id = Model.Id })" class="btn-action">Retour</a>
        </div>

        @using (Html.BeginForm("Update", "CE", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.Id)

            <div class="user-info">
                <label>Nom :</label>
                @Html.TextBoxFor(model => model.Account.Name, new { @class = "form-control" })
            </div>

            <div class="user-info">
                <label>Nom du contact :</label>
                @Html.TextBoxFor(model => model.ContactName, new { @class = "form-control" })
            </div>

            <div class="user-info">
                <label>Email :</label>
                @Html.TextBoxFor(model => model.Account.Email, new { @class = "form-control" })
            </div>

            <div class="user-info">
                <label>Téléphone :</label>
                @Html.TextBoxFor(model => model.Account.Phone, new { @class = "form-control" })
            </div>

            <div class="user-info">
                <label>Adresse :</label>
                @Html.TextBoxFor(model => model.Account.Address, new { @class = "form-control" })
            </div>

            <div class="user-info">
                <label>Nombre d'employés :</label>
                @Html.TextBoxFor(model => model.NumberOfEmployees, new { @class = "form-control" })
            </div>

            <div class="user-actions">
                <button type="submit" class="btn-validate">Valider</button>
            </div>
        }
    </div>
</div>
