
<nav>

   
     
        @if (Model.IsIndividual)
        {

            <div class="nav-element">@Html.ActionLink("Accueil", "Index", "Home", new { @id = 1 }, new { @class = "nav-link" })</div>﻿
                <div class="nav-element">@Html.ActionLink("La Ferme", "Index", "LaFerme", null, new { @class = "nav-link" })</div>
            <div class="nav-element">@Html.ActionLink("Nos Producteurs", "Index", "Producer", null, new { @class = "nav-link" })</div>
            <div class="nav-element">@Html.ActionLink("L'Association", "Index", "Organization", null, new { @class = "nav-link" })</div>
            <div class="nav-element">@Html.ActionLink("Contact", "Index", "Contact", null, new { @class = "nav-link" })</div>
        }
        @if (Model.IsCE)
        {
            <div class="nav-element">@Html.ActionLink("Accueil", "Index", "Home", new { @id = 1 }, new { @class = "nav-link" })</div>﻿
                <div class="nav-element">@Html.ActionLink("La Ferme", "Index", "LaFerme", null, new { @class = "nav-link" })</div>
            <div class="nav-element">@Html.ActionLink("Nos Producteurs", "Index", "Producer", null, new { @class = "nav-link" })</div>
            <div class="nav-element">@Html.ActionLink("L'Association", "Index", "Organization", null, new { @class = "nav-link" })</div>
            <div class="nav-element">@Html.ActionLink("Contact", "Index", "Contact", null, new { @class = "nav-link" })</div>
            <div class="nav-element"><div class="nav-text">Compte CE</div></div>
           
        }

        @if (Model.IsProducer)
        {
            <div class="nav-element">@Html.ActionLink("Accueil", "Index", "Home", new { @id = 1 }, new { @class = "nav-link" })</div>﻿
            <div class="nav-element"><div class="nav-text">Proposer un nouveau produit</div></div>
            <div class="nav-element">@Html.ActionLink("Mes produits", "Index", "XX", null, new { @class = "nav-link" })</div>
            <div class="nav-element">@Html.ActionLink("Contact", "Index", "Contact", null, new { @class = "nav-link" })</div>
            


        }

       



</nav>

