<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/backOffice.css" />
</head>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var scrollpos = localStorage.getItem('scrollpos');
        if (scrollpos) window.scrollTo(0, scrollpos);
    });

    window.onbeforeunload = function (e) {
        localStorage.setItem('scrollpos', window.scrollY);
    };
</script>
<body>
    <header class="bo-header">
        <div class="bo-header-left">
            <img src="~/images/logoBO.png" alt="Mon Panier Paysan" class="bo-logo" />
            </div>
            <div class="bo-header-middle">
            <nav class="bo-nav">
                <ul>
                    <li>@Html.ActionLink("Tableau de bord", "Index", "DashBoard")</li>
                    <li>@Html.ActionLink("Nouveaux Produits", "NewProducts", "DashBoard")</li>
                    <li>@Html.ActionLink("Demandes de contact", "Contacts", "DashBoard")</li>
                    <li>@Html.ActionLink("Produits", "Products", "DashBoard")</li>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Adhérents", "Individuals", "DashBoard")</li>
                        <li>@Html.ActionLink("Comités d'entreprise", "CEs", "DashBoard")</li>
                        <li>@Html.ActionLink("Producteurs", "Producers", "DashBoard")</li>
                    }                    
                </ul>
            </nav>
        </div>

        <div class="bo-header-right">
            <div class="bo-buttons">
                <a href="@Url.Action("Index", "Home")" class="btn btn-front-office">Front Office</a>
                <a href="@Url.Action("Deconnexion", "Login")" class="btn-link"><img src="~/images/icons/logout01.png" alt="Déconnexion" class="btn-icon" /></a>
            </div>

            @if (User.Identity.IsAuthenticated)
            {
                <div class="bo-role-badge">
                    @if (User.IsInRole("Admin"))
                    {
                        <span class="badge-admin">Administrateur</span>
                    }
                    else if (User.IsInRole("Manager"))
                    {
                        <span class="badge-manager">Manager</span>
                    }
                </div>
            }
        </div>
    </header>

    <main class="bo-main">
        @RenderBody()
    </main>

    <footer class="bo-footer">
        <div class="footer-content">
            <div class="footer-links">
               
            </div>
            <div class="footer-contact">
                <p>Site de distribution : 36 rue de Château Rouge, 73000 Chambéry</p>
                <p>Email : monpanierpaysan@amap.fr | Tél : 04 79 00 12 68</p>
            </div>
            <div class="footer-logo">
                <img src="~/images/logo.png" alt="Mon Panier Paysan" />
            </div>
        </div>
        <div class="footer-bottom">
            <p>Mentions légales – Politique de confidentialité &copy; 2024 - Mon Panier Paysan</p>
        </div>
    </footer>
</body>
</html>
