<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/css/styles.css" />
</head>


<header>
	<img id="header-logo" src="~/images/logo.png" />

	<nav>
		<div class="nav-element">@Html.ActionLink("Accueil", "Index", "Home", new { @id = 1 }, new { @class = "nav-link" })</div>
		<div class="nav-element">@Html.ActionLink("Catalogue", "Index", "Catalog", null, new { @class = "nav-link" })</div>
		<div class="nav-element"><div class="nav-text">Nos Producteurs</div></div>
		<div class="nav-element"><div class="nav-text">L'Association</div></div>
		<div class="nav-element"><div class="nav-text">Contact</div></div>
	</nav>

	<div class="nav-buttons">
		@if (User.Identity.IsAuthenticated)
		{
			<div class="btn-account"><div class="btn-text">@Html.ActionLink("Mon Compte", "Index", "Account", null, new { @class = "btn-link" })</div></div>
			<div class="btn-logout"><div class="btn-text">@Html.ActionLink("Déconnexion", "Deconnexion", "Login", null, new { @class = "btn-link" })</div></div>
		}
		else
		{
			<div class="btn-connection"><div class="btn-text">@Html.ActionLink("Se Connecter", "Index", "Login", null, new { @class = "btn-link" })</div></div>
			<div class="btn-register"><div class="btn-text">@Html.ActionLink("S’inscrire", "Index", "CreateAccount", null, new { @class = "btn-link" })</div></div>
		}
		</div>
</header>

<body>
	@RenderBody()
</body>

<footer><p>Je suis le footer à implémenter</p></footer>
</html>
