<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width" />
<title>@ViewBag.Title</title>
<link rel="stylesheet" href="~/css/global.css" />

@RenderSection("Styles", required: false)

<script>
	document.addEventListener("DOMContentLoaded", function (event) {
		var scrollpos = localStorage.getItem('scrollpos');
		if (scrollpos) window.scrollTo(0, scrollpos);
	});

	window.onbeforeunload = function (e) {
		localStorage.setItem('scrollpos', window.scrollY);
	};
</script>

<header>
	<img id="header-logo" src="~/images/logo.png" />

	@await Component.InvokeAsync("Navbar")


	<div class="nav-right-btns">
		@if (User.Identity.IsAuthenticated && User.IsInRole("Manager"))
		{
			<div class="btn-account"><a href="@Url.Action("Index", "Account")" class="btn-link"><img src="~/images/icons/icon-account.png" alt="Mon account" class="btn-icon" /></a></div>
			<div class="btn-basket-icon"><a href="@Url.Action("Index", "Order")" class="btn-link"><img src="~/images/icons/logoPanier.png" alt="Mon panier" class="btn-icon" /></a></div>
			<div class="btn-account"><a href="@Url.Action("IndexManager", "DashBoard")" class="btn-link"><img src="~/images/icons/dashboard.png" alt="Mon tableau de bord" class="btn-icon" /></a></div>
			<div class="btn-logout-icon"><a href="@Url.Action("Deconnexion", "Login")" class="btn-link"><img src="~/images/icons/logout01.png" alt="Déconnexion" class="btn-icon" /></a></div>
		}
		else if (User.Identity.IsAuthenticated && User.IsInRole("Utilisateur"))
		{
			<div class="btn-account"><a href="@Url.Action("Index", "Account")" class="btn-link"><img src="~/images/icons/icon-account.png" alt="Mon account" class="btn-icon" /></a></div>
			<div class="btn-basket-icon"><a href="@Url.Action("Index", "Order")" class="btn-link"><img src="~/images/icons/logoPanier.png" alt="Mon panier" class="btn-icon" /></a></div>
			<div class="btn-logout-icon"><a href="@Url.Action("Deconnexion", "Login")" class="btn-link"><img src="~/images/icons/logout01.png" alt="Déconnexion" class="btn-icon" /></a></div>

		}
		else if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
		{

				<div class="btn-account"><a href="@Url.Action("Index", "Account")" class="btn-link"><img src="~/images/icons/icon-account.png" alt="Mon account" class="btn-icon" /></a></div>
				<div class="btn-basket-icon"><a href="@Url.Action("Index", "Order")" class="btn-link"><img src="~/images/icons/logoPanier.png" alt="Mon panier" class="btn-icon" /></a></div>
				<div class="btn-account"><a href="@Url.Action("IndexManager", "DashBoard")" class="btn-link"><img src="~/images/icons/dashboard.png" alt="Mon tableau de bord" class="btn-icon" /></a></div>
				<div class="btn-logout-icon"><a href="@Url.Action("Deconnexion", "Login")" class="btn-link"><img src="~/images/icons/logout01.png" alt="Déconnexion" class="btn-icon" /></a></div>


		}
		else
		{
			<div class="default-right-btns">
				<div class="btn btn-connection"><div class="btn-text">@Html.ActionLink("Se Connecter", "Index", "Login", null, new { @class = "btn-link" })</div></div>
				<div class="btn btn-register"><div class="btn-text">@Html.ActionLink("S’inscrire", "CreateIndividualAccount", "Login", null, new { @class = "btn-link" })</div></div>
			</div>
		}
	</div>


</header>

<body>
	@RenderBody()
</body>

<footer class="footer">
	<div class="footer-bottom">
		<div class="distribution-footer">
			<p><u>Site de distribution :</u></p>
			<p>36 rue de Château Rouge<br>73000 CHAMBERY</p>
			<p>Tous les jeudis de 18h15 à 19h30</p>
		</div>
		<div class="contact-footer">
			<p>monpanierpaysan@amap.fr</p>
			<p>Tél : 04 79 00 12 68</p>
		</div>
		<p>Mentions légales – Politique de confidentialité &copy; 2024 - Mon Panier Paysan</p>
	</div>
</footer>
</html>
