<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/global.css" />
</head>


<header>
    <img id="header-logo" src="~/images/logo.png" />

    @await Component.InvokeAsync("Navbar")


    <div class="nav-right-btns">
        @if (User.Identity.IsAuthenticated && User.IsInRole("Manager"))
        {
            <div class="btn btn-account"><div class="btn-text">@Html.ActionLink("Mon Compte manager", "Index", "Account", null, new { @class = "btn-link" })</div></div>
            <div class="btn btn-logout"><div class="btn-text">@Html.ActionLink("Mon Panier", "Index", "Order", null, new { @class = "btn-link" })</div></div>
            <div class="btn btn-logout"><div class="btn-text">@Html.ActionLink("Déconnexion", "Deconnexion", "Login", null, new { @class = "btn-link" })</div></div>
            <div class="btn btn-account">@Html.ActionLink("Mon tableau de bord", "IndexManager", "DashBoard", null, new { @class = "nav-link" })</div>
        }
        else if (User.Identity.IsAuthenticated && User.IsInRole("Utilisateur"))
        {   <div>
            <div class="btn btn-account"><div class="btn-text">@Html.ActionLink("Mon Compte", "Index", "Account", null, new { @class = "btn-link" })</div></div>
                <div class="btn btn-logout"><div class="btn-text">@Html.ActionLink("Mon Panier", "Index", "Order", null, new { @class = "btn-link" })</div></div>
            <div class="btn btn-logout"><div class="btn-text">@Html.ActionLink("Déconnexion", "Deconnexion", "Login", null, new { @class = "btn-link" })</div></div>
            </div>
        
        }
        else if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {   <div>
            <div class="btn btn-account"><div class="btn-text">@Html.ActionLink("Mon Compte Administrateur", "Index", "Account", null, new { @class = "btn-link" })</div></div>
                <div class="btn btn-logout"><div class="btn-text">@Html.ActionLink("Mon Panier", "Index", "Order", null, new { @class = "btn-link" })</div></div>
            <div class="btn btn-logout"><div class="btn-text">@Html.ActionLink("Déconnexion", "Deconnexion", "Login", null, new { @class = "btn-link" })</div></div>
            </div>
        
        }
        else
        {
            <div class="default-right-btns">
            <div class="btn btn-connection"><div class="btn-text">@Html.ActionLink("Se Connecter", "Index", "Login", null, new { @class = "btn-link" })</div></div>
            <div class="btn btn-register"><div class="btn-text">@Html.ActionLink("S’inscrire", "Index", "CreateAccount", null, new { @class = "btn-link" })</div></div>
            </div>
        }
    </div>


</header>

<body>
    @RenderBody()
</body>

<footer class="footer">
    <div class="footer-top">
        <div class="footer-links">
            <div class="footer-nav-element">@Html.ActionLink("Accueil", "Index", "Home", new { @id = 1 }, new { @class = "btn-link-footer" })</div>
            <div class="footer-nav-element">@Html.ActionLink("La Ferme", "Index", "LaFerme", new { @class = "btn-link-footer" })</div>
            <div class="footer-nav-element">@Html.ActionLink("Nos Producteurs", "Index", "Producer", new { @class = "btn-link-footer" })</div>
            <div class="footer-nav-element">@Html.ActionLink("L'Association", "Index", "Organization", new { @class = "btn-link-footer" })</div>
        </div>

        <img class="footer-logo" src="~/images/logo.png" />

        <div class="footer-contact">
            <p>Site de distribution :</p>
            <p>36 rue de Château Rouge<br>73000 CHAMBERY</p>
            <p>monpanierpaysan@amap.fr</p>
            <p>Tél : 04 79 00 12 68</p>
        </div>
    </div>


    <div class="footer-bottom">
        <p>Mentions légales – Politique de confidentialité &copy; 2024 - Mon Panier Paysan</p>
    </div>
</footer>
</html>
