@using AMAPG4.Models.Catalog
@using AMAPG4.Models.Command


@model AMAPG4.ViewModels.CommandViewModel
@{

    Layout = "_layout";
}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="~/css/laFerme.css" />
    <title>Résumé de la commande</title>
<div class=" activity-body">
<h3>
<h2 class="welcome-text">
            Résumé de la commande N° : @Model.CommandId
        </h2>

    <table class=" table-product">
        <thead>
            <tr>
                <th>Nom du produit</th>
            <th>Quantité</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
    @foreach (OrderLine orderLine in Model.ListOrderline)
    {<tr>
                <td>@orderLine.Product.ProductName</td>
                <td>@orderLine.Quantity</td>
                <td>@orderLine.Total</td>
       
            </tr>
    }
    </tbody>
    <tfoot>
        <tr>
        <th></th>
    <th>Total :  </th>
    <th>@Model.Total</th>
        </tr>
    </tfoot>

</table>
        <div class="add-row-product-view ">
            <a href="@Url.Action("Payment", "Command")" class="btn-save">Passer au payment</a>

        </div>
<div class="add-row-product-view ">
    <div>@Html.ActionLink("Retour au panier", "Index", "Order", null, new { @class = "return-catalog" })</div>
</div>



</h3>
</div>