@using AMAPG4.Models.Catalog
@using AMAPG4.Models.Command


@model AMAPG4.ViewModels.CommandViewModel
@{

    Layout = "_layout";
}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
<link rel="stylesheet" href="/css/styles.css">
    <title>Résumé de la commande</title>
<p>Numéro de commande : @Model.CommandId</p>
<p>Résumé de la commande</p>
    <table class=" table-product">
        <thead>
            <tr>
                <th>Nom du produit</th>
            <th>Quantité</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
    @foreach (OrderLine orderLine in Model.ListOrderline)
    {<tr>
                <td>@orderLine.Product.ProductName</td>
                <td>@orderLine.Quantity</td>
                <td>@orderLine.Total</td>
       
            </tr>
    }
    </tbody>
    <tfoot>
        <tr>
        <th></th>
    <th>Total :  </th>
    <th>@Model.Total</th>
        </tr>
    </tfoot>

</table>

<div class="nav-element">@Html.ActionLink("Passer au payment", "Payment", "Command", new { @class = "return-catalog" })</div>
<div class="nav-element">@Html.ActionLink("Retour au panier", "Index", "Order", new { @class = "return-catalog" })</div>