@using AMAPG4.Models.Catalog
@using AMAPG4.Models.Command


@model AMAPG4.ViewModels.CommandViewModel
@{

    Layout = "_layout";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <title>Résumé de la commande</title>
</head>
<h3>
    <p>Numéro de commande : @Model.CommandId</p>
    <p>Résumé de la commande</p>
    @foreach (OrderLine orderLine in Model.ListOrderline)
    {
        <p>@orderLine.Product.ProductName @orderLine.Quantity @orderLine.Total </p>
    }
    <p>Total :  @Model.Total</p>
</h3>