@using AMAPG4.Models.Catalog
@using AMAPG4.Models.Command


@model AMAPG4.ViewModels.CommandViewModel

@{

    Layout = "_layout";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/global.css">
    <title>Panier</title>
</head>
<h3>
    <p>Votre historique de commande :</p>
    <table class="table-product">
        <thead>
        <tr>
           <th>Numéro de commande</th>
            <th>Date de commande</th>
            <th>Date de Livraison</th>
            
            <th>Status de la Commande</th>
            <th>Total</th>
            <th></th>
        </tr>
        </thead>
    @foreach (CommandLine commandLine in Model.AllFromUser)
    {
            <tbody>
            <tr>
                <td>@commandLine.CommandId </td>
                <td>@commandLine.DateTimeOrdered.ToShortDateString()</td>
              

                @if (@commandLine.CommandType == CommandLineType.In_Progress)
                {
                    <td>A déterminer</td>
                    <td>Commande dans le panier</td>
                }
                else if (@commandLine.CommandType == CommandLineType.Paid)
                {
                    <td>@commandLine.DateTimeDelivered.ToShortDateString()</td>
                    <td>Commande en attente</td>
                }
                else
                {
                    <td>@commandLine.DateTimeDelivered.ToShortDateString()</td>
                    <td>Commande terminée</td>
                }
                <td>@commandLine.Total</td>
  
        @using (Html.BeginForm("PastOrder", "Command")){
            <input type="hidden" name="CommandToLookAt" value="@commandLine.CommandId" />


                    <td>
                        <input type="submit" value="Développer" />
                    </td>
        }
                
            </tr>
            </tbody>
        if (Model.CommandToLookAt == @commandLine.CommandId)
   
        {
            <thead>
                <tr>
                    <th>Nom du Produit</th>

                    <th>Prix</th>
                    <th>Quantité </th>
                    <th> Total </th>
                   
                </tr>
                </thead>
            foreach (OrderLine orderLine in Model.ListOrderline)
            {
                <tbody>
                 <tr>
                <td>@orderLine.Product.ProductName</td>
                        
                    <td>@orderLine.Product.Price €</td>
                        <td>@orderLine.Quantity </td>
                        <td> @orderLine.Total </td>
                       
                        </tr>
                    </tbody>
            }
        }
    }
    </table>
    <h3/>
    <div class="nav-element">@Html.ActionLink("Retour a mon compte", "Index", "Account", new { @class = "return-catalog" })</div>
    <div class="nav-element">@Html.ActionLink("Retour a l'accueil", "Index", "Home", new { @class = "return-catalog" })</div>
