@model AMAPG4.ViewModels.PaymentViewModel

@{

    Layout = "_layout";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/global.css">
    <title>Payment</title>
</head>

@if (Model.status == AMAPG4.Models.StatusType.Failed || Model.status == AMAPG4.Models.StatusType.Waiting)
{
    if (Model.status == AMAPG4.Models.StatusType.Failed)
    {
        <div class="ValidationMessage">Le payment a été refusé</div>
    }
   
        

@using (Html.BeginForm())
    {
    
    <input type="hidden" name="CommandId" value="@Model.CommandLine.CommandId" />
    <p> @Html.TextBoxFor(m => m.FirstName, new { @placeholder = "Prénom" })  @Html.TextBoxFor(m => m.LastName, new { @placeholder = "Nom" })</p>
    <p>@Html.TextBoxFor(m => m.CardNum, new { @placeholder = "Numéro de Carte" })</p>
    <p>@Html.TextBoxFor(m => m.CardNum, new { @placeholder = "Code Secret" })</p>
   
    <input type="submit" value="Payer"/>
        }
    
}
else if (Model.status == AMAPG4.Models.StatusType.Success)
{
    <p>La commande a été effectué ! Vous pourrez venir chercher votre commande le Vendredi @Model.CommandLine.DateTimeDelivered.Day !</p>
}
