@using AMAPG4.Models.Catalog
@using AMAPG4.Models.Command
@using static AMAPG4.ViewModels.CommandViewModel

@model AMAPG4.ViewModels.OrderLineViewModel

@{

    Layout = "_layout";
}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="~/css/styles.css" />
<link rel="stylesheet" href="/css/global.css"/>
<link rel="stylesheet" href="~/css/laFerme.css" />
    <title>Panier</title>
    <div class=" activity-body">
<h3>
    @if (Model.OrderLinesCurrent != null)
    {
        <h2> Votre panier contient : </h2>
       
        
        <table class="table-product">
            <thead>
        <tr> 
            <th>Produit</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Total par produit</th>
            <th> </th>
        </tr>
            </thead>
    @foreach (OrderLine orderLine in Model.OrderLinesCurrent)
    {
           



            Model.OrderLineId = @orderLine.Id;
            Model.orderLine = @orderLine;
            <tr>
                <td>@orderLine.Product.ProductName</td>
                    <td>@orderLine.Product.Price €</td>
                
         

            @using (Html.BeginForm("Index", "Order"))
            {

                <input type="hidden" name ="OrderLineId" value="@Model.OrderLineId"/>

                <input type="hidden" name="totalStack" value="@orderLine.Quantity + @orderLine.Product.Stock" />

                    <td> <input type="number" name="NewQuantity" value="@orderLine.Quantity" min="1" max="@orderLine.Product.Stock" step="1" onchange="this.form.submit()"></td>


                        <td>@orderLine.Total €</td>
            }

            @using (Html.BeginForm("Index", "Order"))
            {
       

                <input type="hidden" name="OrderLineId" value="@Model.OrderLineId" />

                <input type="hidden" name="NewQuantity" value="0" />

                    <td>
                        <input type="submit" value="Supprimer" />
                    </td>
            }
            </tr>
            }
            <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th>Total :</th>
                <th>@Model.Total €</th>
            </tr>
            </tfoot>
        </table>
        
    
}
else
{

        <div>
            Le panier est Vide !
        </div>


    }
    <a href="@Url.Action("Index", "Catalog")" class="product-view-btn-add">Retourner au Catalogue</a>
    <a href="@Url.Action("Index", "Command")" class="product-view-btn-add">Payment</a>
</div>
</h3>




