@using AMAPG4.Models.Catalog
@using AMAPG4.Models.Command
@using static AMAPG4.ViewModels.CommandViewModel

@model AMAPG4.ViewModels.OrderLineViewModel

@{
  
    Layout = "_layout";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <title>Panier</title>
</head>
<h3>
    Id utilisateur login :
    @Model.UserActualId

    @if (Model.OrderLinesCurrent != null)
{
        <div> Votre panier contient : </div>
    @foreach (OrderLine orderLine in Model.OrderLinesCurrent)
    {

            <p>@orderLine.Product.ProductName @orderLine.Quantity @orderLine.Total </p>



            Model.OrderLineId = @orderLine.Id;
            Model.orderLine = @orderLine;
            @using (Html.BeginForm("Index", "Order"))
            {

                <input type="hidden" name ="OrderLineId" value="@Model.OrderLineId"/>

                <input type="hidden" name="totalStack" value="@orderLine.Quantity + @orderLine.Product.Stock" />
                

                <p> @Html.LabelFor(m => m.orderLine.Quantity, "Quantité : ")

                    <input type="number" name="NewQuantity" value="@orderLine.Quantity" min="1" max="@orderLine.Product.Stock" step="1" onchange="this.form.submit()">
                    @Html.TextBoxFor(m => m.orderLine.Quantity, new { type = "number", min = "1", max = @orderLine.Product.Stock + orderLine.Quantity})
                </p>
                
           
            }

            @using (Html.BeginForm("Index", "Order"))
            {
       
 
                <input type="hidden" name="OrderLineId" value="@Model.OrderLineId" />

                <input type="hidden" name="NewQuantity" value="0" />


                <input type="submit" value="Supprimer" />
            }
    }
    <p>Total : @Model.Total</p>
}
else
{

        <div>
            Le panier est Vide !
        </div>


    }

</h3>




<div class="nav-element">@Html.ActionLink("Continuer mes achats", "Index", "Catalog", new { @class = "return-catalog" })</div>
<div class="nav-element">@Html.ActionLink("Payement", "Index", "Command", new { @class = "return-catalog" })</div>
