@model AMAPG4.ViewModels.CreateUserAccountViewModel
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <title>Page</title>
</head>

<p>
    Veuillez remplir les champs pour créer votre compte :
</p>
@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.UserAccount.Name, "Nom de l'entreprise")
        @Html.TextBoxFor(m => m.UserAccount.Name, new { @placeholder = "Nom de l'entreprise" })
        @Html.ValidationMessageFor(m => m.UserAccount.Name)
    </div>
    <div>
        @Html.LabelFor(m => m.CE.ContactName, "Nom du référent")
        @Html.TextBoxFor(m => m.CE.ContactName, new { @placeholder = "Nom du référent" })
        @Html.ValidationMessageFor(m => m.CE.ContactName)
    </div>
    <div>
        @Html.LabelFor(m => m.UserAccount.Email, "Email")
        @Html.TextBoxFor(m => m.UserAccount.Email, new { @placeholder = "Adresse email" })
        @Html.ValidationMessageFor(m => m.UserAccount.Email)
    </div>
    <div>
        @Html.LabelFor(m => m.UserAccount.Address, "Adresse")
        @Html.TextBoxFor(m => m.UserAccount.Address, new { @placeholder = "Numéro et nom de rue, Code postal Commune" })
        @Html.ValidationMessageFor(m => m.UserAccount.Address)
    </div>
    <div>
        @Html.LabelFor(m => m.UserAccount.Phone, "Téléphone")
        @Html.TextBoxFor(m => m.UserAccount.Phone, new { @placeholder = "0707070707" })
        @Html.ValidationMessageFor(m => m.UserAccount.Phone)
    </div>
    <div>
        @Html.LabelFor(m => m.CE.NumberOfEmployees, "Nombre d'employés engagés")
        @Html.TextBoxFor(m => m.CE.NumberOfEmployees, new { @placeholder = "Nombre d'employés engagés" })
        @Html.ValidationMessageFor(m => m.CE.NumberOfEmployees)
    </div>
    <div>
        @Html.LabelFor(m => m.UserAccount.Password, "Mot de passe")
        @Html.PasswordFor(m => m.UserAccount.Password, new { @placeholder = "Mot de passe" })
        @Html.ValidationMessageFor(m => m.UserAccount.Password)
    </div>
    <div>
        @Html.LabelFor(m => m.ConfirmPassword, "Confirmez votre mot de passe")
        @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirmez votre mot de passe" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>
    <input type="submit" value="Créer" />
}

