@model AMAPG4.ViewModels.CreateUserAccountViewModel
@{
    ViewBag.Title = "Inscription";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/global.css" />
<link rel="stylesheet" href="~/css/styles.css" />
<link rel="stylesheet" href="~/css/forms.css" />

<div class="container">
<div class="form-container">

     <h2>Création de compte pour particulier </h2>

    <div class="text-cas-particulier">
         <em>Vous êtes un producteur ou un Comité d'Entreprise ?</em> <br /> <em>Et vous souhaitez vous inscrire ? </em> <br /> Il vous suffit de compléter le<b>formulaire de contact </b> et nous reprendrons contact avec vous dans les plus brefs délais!
    </div>

        @using (Html.BeginForm())
        {
                         <fieldset class="fieldset-style">
                            <legend>Formulaire d'inscription</legend>
                        <div>
                    @Html.LabelFor(m => m.UserAccount.Name, "Nom")
                    @Html.TextBoxFor(m => m.UserAccount.Name, new { @placeholder = "Nom" })
                    @Html.ValidationMessageFor(m => m.UserAccount.Name)
                        </div>
                        <div>
                    @Html.LabelFor(m => m.Individual.FirstName, "Prénom")
                    @Html.TextBoxFor(m => m.Individual.FirstName, new { @placeholder = "Prénom" })
                    @Html.ValidationMessageFor(m => m.Individual.FirstName)
                        </div>

                        <div>
                    @Html.LabelFor(m => m.UserAccount.Email, "Email")
                    @Html.TextBoxFor(m => m.UserAccount.Email, new { @placeholder = "Adresse email" })
                    @Html.ValidationMessageFor(m => m.UserAccount.Email)
                        </div>
                        <div>
                    @Html.LabelFor(m => m.UserAccount.Address, "Adresse")
                    @Html.TextBoxFor(m => m.UserAccount.Address, new { @placeholder = "Numéro et nom de rue, Code postal Commune" })
                    @Html.ValidationMessageFor(m => m.UserAccount.Address)
                        </div>
                        <div>
                    @Html.LabelFor(m => m.UserAccount.Phone, "Téléphone")
                    @Html.TextBoxFor(m => m.UserAccount.Phone, new { @placeholder = "0707070707" })
                    @Html.ValidationMessageFor(m => m.UserAccount.Phone)
                        </div>
                        <div class="volunteer-question">
                    @Html.Label("Voulez-vous être bénévole ?")
                            <p>
                                <em>
                                    En tant que bénévole, vous serez chargé de l'accueil, de la réception des productions, de la préparation des paniers maraîchers, ainsi que de diverses tâches administratives. Votre engagement peut réellement faire la différence !
                                </em>
                            </p>
                            <div class="radio-button-group">
                        @Html.RadioButtonFor(m => m.Individual.IsVolunteer, true, new { id = "volunteerYes" })
                        @Html.Label("volunteerYes", "Oui")

                        @Html.RadioButtonFor(m => m.Individual.IsVolunteer, false, new { id = "volunteerNo" })
                        @Html.Label("volunteerNo", "Non")

                            </div>

                                                    </div>
                        <div>
                    @Html.LabelFor(m => m.UserAccount.Password, "Mot de passe")
                    @Html.PasswordFor(m => m.UserAccount.Password, new { @placeholder = "Mot de passe" })
                    @Html.ValidationMessageFor(m => m.UserAccount.Password)
                        </div>
                        <div>
                    @Html.LabelFor(m => m.ConfirmPassword, "Confirmez votre mot de passe")
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirmez votre mot de passe" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>

                        <input type="submit" value="Créer" />
                <!-- <p>En cliquant sur "Créer", vous serez redirigé vers une page de paiement pour régler votre cotisation annuelle de 15 €.</p>-->
            </fieldset>
        }

</div>
</div>

