@model AMAPG4.Models.User.UserAccount
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Page</title>
</head>

<p>
    Veuillez Remplir les champs pour créer voter compte :
</p>
@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(m => m.Name, "Nom")
        @Html.TextBoxFor(m => m.Name, new { @placeholder = "Nom" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div>
        @Html.LabelFor(m => m.Email, "Email")
        @Html.TextBoxFor(m => m.Email, new { @placeholder = "Adresse email" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div>
        @Html.LabelFor(m => m.Address, "Adresse")
        @Html.TextBoxFor(m => m.Address, new { @placeholder = "Numéro et nom de rue, Code postal Commune" })
        @Html.ValidationMessageFor(m => m.Address)
    </div>
    <div>
        @Html.LabelFor(m => m.Phone, "Téléphone")
        @Html.TextBoxFor(m => m.Phone, new { @placeholder = "0707070707" })
        @Html.ValidationMessageFor(m => m.Phone)
    </div>
   
    <div>
        @Html.LabelFor(m => m.Password, "Mot de passe")
        @Html.PasswordFor(m => m.Password, new { @placeholder = "Mot de passe" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <input type="submit" value="Créer" />
}