@model AMAPG4.ViewModels.UserAccountViewModel
@{
    ViewBag.Title = "Authentification";
    Layout = "_Layout";
}


<link rel="stylesheet" href="~/css/forms.css" />
<link rel="stylesheet" href="~/css/styles.css" />

<div class="container">
    <div class="form-container">

        @if (Model.Authentication)
        {
            <h3>
                Vous êtes déjà authentifié avec le login :
                @Model.UserAccount.Email
            </h3>
            <div class="login-links">
                @Html.ActionLink("Voulez-vous vous déconnecter ?", "Deconnexion")
            </div>
            <div class="login-links">
            @Html.ActionLink("Accueil", "Index", "Home")</div>
        }
        else
        {

         

            using (Html.BeginForm())
            {
                <fieldset class="fieldset-style">
                    <legend>Authentification</legend>
                    <div>
                        @Html.LabelFor(m => m.UserAccount.Email, "Email")
                        @Html.TextBoxFor(m => m.UserAccount.Email, new { @placeholder = "Adresse email" })
                        @Html.ValidationMessageFor(m => m.UserAccount.Email, "", new { @class = "error" })
                    </div>
                    <div>
                        @Html.LabelFor(m => m.UserAccount.Password, "Mot de passe")
                        @Html.PasswordFor(m => m.UserAccount.Password, new { @placeholder = "Mot de passe" })
                        @Html.ValidationMessageFor(m => m.UserAccount.Password, "", new { @class = "error" })
                    </div>
                    <input type="submit" value="Se connecter" />
                    <br />
                    <div class="login-links">@Html.ActionLink("Créer un compte", "CreateIndividualAccount")</div>
                </fieldset>
            }

        }
    </div>
    </<div>
    </div>
