@using AMAPG4.Models.Catalog

@model AMAPG4.ViewModels.NewProductViewModel

@{
    ViewBag.Title = "Formulaire de proposition produit";
    Layout = "_Layout";
}

<div class="container">
    <div class="formulaire">
        <h2>Votre formulaire de demande d'ajout d'un nouveau produit</h2>
        @using (Html.BeginForm())
        {

            <div>
                @Html.LabelFor(m => m.NewProduct.ProductName, "Nom")
                @Html.TextBoxFor(m => m.NewProduct.ProductName, new { @class = "input-field", placeholder = "Nom du produit" })
                @Html.ValidationMessageFor(m => m.NewProduct.ProductName)
            </div>

            <div>
                @Html.LabelFor(m => m.NewProduct.Description, "Description")
                @Html.TextAreaFor(m => m.NewProduct.Description, new { @class = "input-field", placeholder = "Description", rows = 4, cols = 50 })
                @Html.ValidationMessageFor(m => m.NewProduct.Description)
            </div>

            <div>
                @Html.LabelFor(m => m.NewProduct.Price, "Prix unitaire")
                @Html.TextBoxFor(m => m.NewProduct.Price, new { @class = "input-field", placeholder = "prix unitaire" })
                @Html.ValidationMessageFor(m => m.NewProduct.Price)
            </div>
            <div>
                @Html.LabelFor(m => m.NewProduct.Stock, "Quantité en stock à proposer")
                @Html.TextBoxFor(m => m.NewProduct.Stock, new { @class = "input-field", placeholder = "Quantité en stock", type = "number", min = "0" })
                @Html.ValidationMessageFor(m => m.NewProduct.Stock)
            </div>

            <div>
                @Html.LabelFor(m => m.NewProduct.LimitDate, "Date limite")
                @Html.TextBoxFor(m => m.NewProduct.LimitDate, new { @class = "input-field", type = "date" })
                @Html.ValidationMessageFor(m => m.NewProduct.LimitDate)
            </div>


            <div>
                @Html.LabelFor(m => m.NewProduct.ProductType, "Type de produit")
                @Html.DropDownListFor(model => model.ProductType,
                         new SelectList(Enum.GetValues(typeof(ProductType)).Cast<ProductType>().Select(e => new SelectListItem
            {
                Value = e.ToString(),
                Text = e.ToString()
            }), "Value", "Text"), "Sélectionnez un type", new { @class = "form-control" })
            </div>



            <div>
                <input type="submit" value="Envoyer" />
            </div>

            @if (ViewBag.Message != null)
            {
                <p>@ViewBag.Message</p>
            }
        }
    </div>
</div>
