@using AMAPG4.Models.ContactForm
@model AMAPG4.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Gestion des Demandes de Contact";
    Layout = "_BackOfficeLayout";
}

<div class="dashboard-container">

    <!-- Section pour les demandes à traiter -->
    <div class="dashboard-block">
        <div class="section-header">
            <h2 class="section-title">Demandes de contact à traiter</h2>
        </div>
        <div class="table-container">
            <table class="dashboard-table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                        <th>Message</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Contact contact in Model.PendingContacts)
                    {
                        <tr>
                            <td>@contact.Name</td>
                            <td>@contact.FirstName</td>
                            <td>@contact.Email</td>
                            <td>@contact.PhoneNumber</td>
                            <td>@contact.Message</td>
                            <td class="td-btn-actions">
                                <a href="@Url.Action("Read", "Contact", new { id = contact.Id })" class="btn-action btn-read">Voir</a>
                                <form method="post" action="@Url.Action("ChangeStatus", "Contact", new { id = contact.Id })" style="display:inline;">
                                    <button type="submit" class="btn-action btn-update">Traité</button>
                                </form>
                                <form method="post" action="@Url.Action("Delete", "Contact", new { id = contact.Id })" style="display:inline;">
                                    <button type="submit" class="btn-action btn-delete">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- Section pour les demandes traitées -->
    <div class="dashboard-block">
        <div class="section-header">
            <h2 class="section-title">Demandes de contact traitées</h2>
        </div>

        <div class="table-container">
            <table class="dashboard-table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                        <th>Message</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Contact contact in Model.DoneContacts)
                    {
                        <tr>
                            <td>@contact.Name</td>
                            <td>@contact.FirstName</td>
                            <td>@contact.Email</td>
                            <td>@contact.PhoneNumber</td>
                            <td>@contact.Message</td>
                            <td class="td-btn-actions">
                                <a href="@Url.Action("Read", "Contact", new { id = contact.Id })" class="btn-action btn-read">Voir</a>
                                <form method="post" action="@Url.Action("Delete", "Contact", new { id = contact.Id })" style="display:inline;">
                                    <button type="submit" class="btn-action btn-delete">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
