@using AMAPG4.Models.ContactForm
@using AMAPG4.Models.Catalog
@model AMAPG4.ViewModels.DashboardViewModel

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="~/css/styles.css" />
    <title>Dashboard</title>
</head>

<div class="dashboard-container">

    <!-- Bloc pour les Individuals -->
    <div class="dashboard-block">
        <h2>Individus</h2>
        <div class="table-container">
            <table class="dashboard-table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                        <th>Date d'inscription</th>
                        <th>Bénévole</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var individual in Model.Individuals)
                    {
                        
                        <tr>
                            <td>@individual.Account.Name</td>
                            <td>@individual.FirstName</td>
                            <td>@individual.Account.Email</td>
                            <td>@individual.Account.Phone</td>
                            <td>@individual.InscriptionDate.ToShortDateString()</td>
                            <td>@individual.IsVolunteer</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- Bloc pour les Producers -->
    <div class="dashboard-block">
        <h2>Producteurs</h2>
        <div class="table-container">
            <table class="dashboard-table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Nom du contact</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                        <th>SIRET</th>
                        <th>RIB</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var producer in Model.Producers)
                    {
                        <tr>
                            <td>@producer.Account.Name</td>
                            <td>@producer.ContactName</td>
                            <td>@producer.Account.Email</td>
                            <td>@producer.Account.Phone</td>
                            <td>@producer.Siret</td>
                            <td>@producer.RIB</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- Bloc pour les CEs -->
    <div class="dashboard-block">
        <h2>Comités d'entreprise (CE)</h2>
        <div class="table-container">
            <table class="dashboard-table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Nom du contact</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                        <th>Nombre d'employés</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ce in Model.CEs)
                    {
                        <tr>
                            <td>@ce.Account.Name</td>
                            <td>@ce.ContactName</td>
                            <td>@ce.Account.Email</td>
                            <td>@ce.Account.Phone</td>
                            <td>@ce.NumberOfEmployees</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- Bloc pour les Products -->
    <div class="dashboard-block">
        <h2>Produits</h2>
        <div class="table-container">
            <table class="dashboard-table">
                <thead>
                    <tr>
                        <th>Nom du produit</th>
                        <th>Description</th>
                        <th>Prix</th>
                        <th>Stock</th>
                        <th>Disponible</th>
                        <th>Date limite</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.Products)
                    {
                        <tr>
                            <td>@product.ProductName</td>
                            <td>@product.Description</td>
                            <td>@product.Price</td>
                            <td>@product.Stock</td>
                            <td>@product.IsAvailable</td>
                            <td>@product.LimitDate.ToShortDateString()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- Bloc pour les Contact -->
    <div class="dashboard-block">
        <h2>Formulaire de contact</h2>
        <div class="table-container">
            <table class="dashboard-table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                        <th>Message</th>
                        <th>Date d'envoi</th>
                        <th>Statut</th>
                        <th>Actions</th>

                    
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Contacts != null && Model.Contacts.Any())
                    {
                    @foreach (var contact in Model.Contacts)
                    {
                        <tr>
                            <td>@contact.Name</td>
                            <td>@contact.FirstName</td>
                            <td>@contact.Email</td>
                            <td>@contact.PhoneNumber</td>
                            <td>@contact.Message</td>
                            <td>@contact.DateSent</td>
                            <td>@contact.Status</td>
                            <td>
                                @if (contact.Status == ContactStatus.NonTraite)
                                {
                                    <form asp-action="MarkAsTraite" asp-route-id="@contact.Id" method="post">
                                        <button type="submit">Marquer comme Traité</button>
                                    </form>
                                }
                                   
                            </td>
                                
                    
                        </tr>
                    }
                    }
                    else
                    {
                    <tr>
                        <td colspan="7">Aucun contact disponible.</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- Bloc pour les propositions de produits -->
    <div class="dashboard-block">
        <h2>Proposition de produit à valider ou pas</h2>
        <div class="table-container">
            <table class="dashboard-table">
                <thead>
                    <tr>
                        <th>Nom du produit</th>
                        <th>Description</th>
                        <th>Prix</th>
                        <th>Stock</th>
                        <th>Date Limite</th>
                        <th>Statut</th>
                        <th>Actions</th>


                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.NewProducts != null && Model.NewProducts.Any())
                        @foreach (var newProduct in Model.NewProducts)
                        {
                            <tr>
                            <td>@newProduct.ProductName</td>
                            <td>@newProduct.Description</td>
                            <td>@newProduct.Price.ToString("C2")</td>
                            <td>@newProduct.Stock</td>
                            <td>@newProduct.LimitDate.ToShortDateString()</td>
                            <td>@newProduct.SubmissionStatus.ToString()</td>
                            
                                <td>
                                @if (newProduct.SubmissionStatus == SubmissionStatus.Pending)
                                    {
                                    <form asp-action="ValidateProduct" method="post">
                                        <input type="hidden" name="id" value="@newProduct.Id" />
                                        <button type="submit" class="btn btn-success">Valider</button>
                                        </form>
                                    <form asp-action="RejectProduct" method="post">
                                        <input type="hidden" name="id" value="@newProduct.Id" />
                                        <button type="submit" class="btn btn-success">Rejeter</button>
                                    </form>
                                    }

                                </td>


                            </tr>
                        }
                           }
                         else
                          {
                        <tr>
                            <td colspan="7">Aucun nouveau produit à valider.</td>
                        </tr>
                            }
                </tbody>
            </table>
        </div>
    </div>
</div>


