@using AMAPG4.Models.Catalog
@model AMAPG4.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Gestion des nouveaux produits";
    Layout = "_BackOfficeLayout";
}

<div class="dashboard-container">
    <!-- Bloc pour les nouveaux produits -->
    <div class="dashboard-block">
        <div class="section-header">
            <h2 class="section-title">Nouveaux produits à valider</h2>
            
        </div>

        <div class="table-container">
            <table class="dashboard-table">
                <thead>
                    <tr>
                        <th>Nom du produit</th>
                        <th>Description</th>
                        <th>Prix</th>
                        <th>Stock</th>
                        <th>Type de produit</th>
                        <th>Date limite</th>
                        <th>Producteur</th>
                        <th>Statut de soumission</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (NewProduct product in Model.NewProducts)
                    {
                        <tr>
                            <td>@product.ProductName</td>
                            <td>@product.Description</td>
                            <td>@product.Price.ToString("C2")</td>
                            <td>@product.Stock</td>

                            <td>
                                @switch (product.ProductType)
                                {
                                    case ProductType.Basket:
                                        @:Panier
                                        break;
                                    case ProductType.Unitary:
                                        @:À l'unité
                                        break;
                                    default:
                                        @product.ProductType.ToString()
                                        break;
                                }
                            </td>

                            <td>@product.LimitDate.ToShortDateString()</td>
                            <td>@product.Producer.Account.Name</td>
                            <td>@product.SubmissionStatus.ToString()</td>

                            <td class="td-btn-actions">
                                <a href="@Url.Action("Read", "NewProduct", new { id = product.Id })" class="btn-action btn-read">Voir</a>
                                <form method="post" action="@Url.Action("Create", "NewProduct", new { id = product.Id })" style="display:inline;">
                                    <button type="submit" class="btn-action btn-validate">Valider</button>
                                </form>
                                <form method="post" action="@Url.Action("Refuse", "NewProduct", new { id = product.Id })" style="display:inline;">
                                    <button type="submit" class="btn-action btn-delete">Refuser</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="dashboard-block">
        <div class="section-header">
            <h2 class="section-title">Produits refusés</h2>

        </div>

        <div class="table-container">
            <table class="dashboard-table">
                <thead>
                    <tr>
                        <th>Nom du produit</th>
                        <th>Description</th>
                        <th>Prix</th>
                        <th>Stock</th>
                        <th>Type de produit</th>
                        <th>Date limite</th>
                        <th>Producteur</th>
                        
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (NewProduct product in Model.RefusedProducts)
                    {
                        <tr>
                            <td>@product.ProductName</td>
                            <td>@product.Description</td>
                            <td>@product.Price.ToString("C2")</td>
                            <td>@product.Stock</td>

                            <td>
                                @switch (product.ProductType)
                                {
                                    case ProductType.Basket:
                                        @:Panier
                                        break;
                                    case ProductType.Unitary:
                                        @:À l'unité
                                        break;
                                    default:
                                        @product.ProductType.ToString()
                                        break;
                                }
                            </td>

                            <td>@product.LimitDate.ToShortDateString()</td>
                            <td>@product.Producer.Account.Name</td>
                          

                            <td class="td-btn-actions">
                                <a href="@Url.Action("Read", "NewProduct", new { id = product.Id })" class="btn-action btn-read">Voir</a>
                                <form method="post" action="@Url.Action("Delete", "NewProduct", new { id = product.Id })" style="display:inline;">
                                    <button type="submit" class="btn-action btn-delete">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
